.navbar {
    background: linear-gradient(95deg, rgba(255, 255, 255, 0.50) 8.15%, rgba(135, 206, 250, 0.50) 16.79%, rgba(0, 250, 154, 0.50) 100%);
}
.navbar.sticky-top {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com opacidade de 90% */
}
.navbar-toggler.d-lg-none {
    display: block;
}
.custom-toggler {
    border-color: #000; /* Borda do botão em cor escura */
    margin: 0; /* Remove margens indesejadas */
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Ícone escuro */
}

